# Custom Connection

This tutorial will show you how to get a QuestDB instance up and running locally to test JupySQL. You can run this in a Jupyter notebook.

## Pre-requisites

To run this tutorial, you need to install following Python packages:

In [1]:
%pip install jupysql pandas pyarrow --quiet

Note: you may need to restart the kernel to use updated packages.

You also need a PostgreSQL connector. Here's a list of [supported connectors.](https://docs.sqlalchemy.org/en/14/dialects/postgresql.html#dialect-postgresql) We recommend using `psycopg2`. The easiest way to install it is via:

In [2]:
%pip install psycopg2-binary --quiet

Note: you may need to restart the kernel to use updated packages.

```{tip}
If you have issues, check out our [installation guide](../howto/postgres-install.md) or [message us on Slack.](https://ploomber.io/community)
```

You also need Docker installed and running to start the PostgreSQL instance.

## Start QuestDB instance

We fetch the official image, create a new database, and user (this will take 1-2 minutes):

In [11]:
%%bash
docker run \ 
  -p 9000:9000 \ 
  -p 9009:9009 \ 
  -p 8812:8812 \
  questdb/questdb

94fa1f440c4c8e632b59fc630dd513c4d653c95c964fd4deddf3430db1223c1b

Our database is running, let's load some data!

## Load sample data

Now, let's fetch some sample data. We'll be using the [NYC taxi dataset](https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page):

In [ ]:
import urllib.request

urllib.request.urlretrieve(
    "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv",
    "penguins.csv",
)

(1369769, 19)

As you can see, this chunk of data contains ~1.4M rows, loading the data will take about a minute:

In [13]:
import requests

with open("penguins.csv", "rb") as csv:
    file_data = csv.read()
    files = {"data": ("penguins", file_data)}
    response = requests.post("http://127.0.0.1:9000/imp", files=files)

## Query

Now, let's start JuppySQL, authenticate and start querying the data!

In [2]:
%load_ext sql

In [3]:
import psycopg2 as pg

engine = pg.connect(
    "dbname='qdb' user='admin' host='127.0.0.1' port='8812' password='quest'"
)

In [ ]:
%sql engine

```{important}
If the cell above fails, you might have some missing packages. Message us on [Slack](https://ploomber.io/community) and we'll help you!
```

List the tables in the database:

In [4]:
%sql select * from penguins limit 5

+------+
| Name |
+------+
| taxi |
+------+

List columns in the taxi table:

Query our data:

In [ ]:
%%sql
SELECT COUNT(*) FROM penguins

*  postgresql://user:***@localhost/db
1 rows affected.

[(1369769,)]

## Parametrize queries

In [ ]:
! docker container ls

CONTAINER ID   IMAGE            COMMAND                  CREATED          STATUS          PORTS                    NAMES
4a6478b19d45   mariadb:latest   "docker-entrypoint.s…"   21 minutes ago   Up 21 minutes   0.0.0.0:3306->3306/tcp   mariadb

In [ ]:
%%capture out
! docker container ls --filter ancestor=postgres --quiet

In [ ]:
container_id = out.stdout.strip()
print(f"Container id: {container_id}")

Container id:

In [ ]:
! docker container stop {container_id}

"docker container stop" requires at least 1 argument.
See 'docker container stop --help'.

Usage:  docker container stop [OPTIONS] CONTAINER [CONTAINER...]

Stop one or more running containers

In [ ]:
! docker container rm {container_id}

"docker container rm" requires at least 1 argument.
See 'docker container rm --help'.

Usage:  docker container rm [OPTIONS] CONTAINER [CONTAINER...]

Remove one or more containers

In [ ]:
! docker container ls

CONTAINER ID   IMAGE            COMMAND                  CREATED          STATUS          PORTS                    NAMES
4a6478b19d45   mariadb:latest   "docker-entrypoint.s…"   21 minutes ago   Up 21 minutes   0.0.0.0:3306->3306/tcp   mariadb