# Get a MySQL instance

This tutorial will show you how to get a MySQL instance up and running locally to test JupySQL. You can run this in a Jupyter notebook.

## Pre-requisites

To run this tutorial, you need to install following Python packages:

In [1]:
%pip install jupysql pandas --quiet

Note: you may need to restart the kernel to use updated packages.

You also need a PostgreSQL connector. Here's a list of [supported connectors.](https://docs.sqlalchemy.org/en/14/dialects/postgresql.html#dialect-postgresql) We recommend using `psycopg2`. The easiest way to install it is via:

recommendation: conda because it also installs  mysql-connector-c

there might be some missing dependencies here:

In [6]:
%conda install mysqlclient -c conda-forge --quiet

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

```{tip}
If you have issues, check out our [installation guide](postgres-install) or [message us on Slack.](https://ploomber.io/community)
```

You also need Docker installed and running do start the PostgreSQL instance.

## Start PostgreSQL instance

We fetch the official image, create a new database, and user (this will take 1-2 minutes):

In [6]:
%%bash
docker run --name mysql -e MYSQL_DATABASE=db \
  -e MYSQL_USER=user \
  -e MYSQL_PASSWORD=password \
  -e MYSQL_ROOT_PASSWORD=password \
  -p 3306:3306 -d mysql

01b4829cc9587c5f4a4f871558c6d2eb9c4b76344c5c2a23731344b8a869b6c9

Our database is running, let's load some data!

In [7]:
%%bash
docker ps

CONTAINER ID   IMAGE     COMMAND                  CREATED         STATUS        PORTS                               NAMES
01b4829cc958   mysql     "docker-entrypoint.s…"   2 seconds ago   Up 1 second   0.0.0.0:3306->3306/tcp, 33060/tcp   mysql

## Load sample data

Now, let's fetch some sample data. We'll be using the [NYC taxi dataset](https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page):

In [8]:
import pandas as pd

df = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet")
df.shape

(1369769, 19)

As you can see, this chunk of data contains ~1.4M rows, loading the data will take about a minute:

 mysql --user=root --password
 
 ALTER USER user
IDENTIFIED WITH mysql_native_password
BY 'password';

In [13]:
from sqlalchemy import create_engine

# must be 127.0.0.1
# https://github.com/docker-library/mysql/issues/936#issuecomment-1367422557
engine = create_engine("mysql+mysqldb://user:pw@127.0.0.1:3306/db")

In [14]:
from sqlalchemy import create_engine

# engine = create_engine("mysql+mysqldb://user:password@127.0.0.1:3306/db")
df.to_sql(name="taxi", con=engine, chunksize=100_000)
engine.dispose()

## Query

Now, let's start JuppySQL, authenticate and start querying the data!

In [15]:
%load_ext sql

In [16]:
%sql engine

```{important}
If the cell above fails, you might have some missing packages. Message us on [Slack](https://ploomber.io/community) and we'll help you!
```

In [17]:
%%sql
SELECT COUNT(*) FROM taxi

*  mysql+mysqldb://user:***@127.0.0.1:3306/db
1 rows affected.

[(1369769,)]

In [18]:
%%sql
SELECT * FROM taxi
LIMIT 3

*  mysql+mysqldb://user:***@127.0.0.1:3306/db
3 rows affected.

[(0, 1, datetime.datetime(2021, 1, 1, 0, 30, 10), datetime.datetime(2021, 1, 1, 0, 36, 12), 1.0, 2.1, 1.0, 'N', 142, 43, 2, 8.0, 3.0, 0.5, 0.0, 0.0, 0.3, 11.8, 2.5, None),
 (1, 1, datetime.datetime(2021, 1, 1, 0, 51, 20), datetime.datetime(2021, 1, 1, 0, 52, 19), 1.0, 0.2, 1.0, 'N', 238, 151, 2, 3.0, 0.5, 0.5, 0.0, 0.0, 0.3, 4.3, 0.0, None),
 (2, 1, datetime.datetime(2021, 1, 1, 0, 43, 30), datetime.datetime(2021, 1, 1, 1, 11, 6), 1.0, 14.7, 1.0, 'N', 132, 165, 1, 42.0, 0.5, 0.5, 8.65, 0.0, 0.3, 51.95, 0.0, None)]

## Clean up

To stop and remove the container:

In [10]:
! docker container ls

CONTAINER ID   IMAGE      COMMAND                  CREATED              STATUS              PORTS                    NAMES
9863544b380c   postgres   "docker-entrypoint.s…"   About a minute ago   Up About a minute   0.0.0.0:5432->5432/tcp   postgres

In [16]:
%%capture out
! docker container ls --filter ancestor=postgres --quiet

In [17]:
container_id = out.stdout.strip()
print(f"Container id: {container_id}")

Container id: 9863544b380c

In [18]:
! docker container stop {container_id}

9863544b380c

In [19]:
! docker container rm {container_id}

9863544b380c

In [20]:
! docker container ls

CONTAINER ID   IMAGE     COMMAND   CREATED   STATUS    PORTS     NAMES