In [1]:
%reload_ext sql
%sql sqlite://

Connecting to 'sqlite://'

In [2]:
from urllib.request import urlretrieve

_ = urlretrieve(
    "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv",
    "penguins.csv",
)

In [3]:
# %%sql
# CREATE TABLE penguins AS SELECT * FROM penguins.csv

In [4]:
%%sql
CREATE TABLE penguins(id INT);
INSERT INTO penguins VALUES(1);
INSERT INTO penguins VALUES(2);

Parsed SQL:
CREATE TABLE penguins(id INT);
INSERT INTO penguins VALUES(1);
INSERT INTO penguins VALUES(2);

Running query in 'sqlite://'

1 rows affected.

1 rows affected.

++
||
++
++

In [5]:
%%sql
SELECT *
FROM penguins
LIMIT 3;

Parsed SQL:
SELECT *
FROM penguins
LIMIT 3;

Running query in 'sqlite://'

+----+
| id |
+----+
| 1  |
| 2  |
+----+

In [6]:
%%sql
SELECT *
FROM penguins
LIMIT 3
-- comment

Parsed SQL:
SELECT *
FROM penguins
LIMIT 3
-- comment

Running query in 'sqlite://'

+----+
| id |
+----+
| 1  |
| 2  |
+----+

In [13]:
%%sql
-- pre comment
SELECT *
FROM penguins
LIMIT 3;
-- commy

Parsed SQL:
-- pre comment
SELECT *
FROM penguins
LIMIT 3;
-- commy

Running query in 'sqlite://'

++
||
++
++

In [15]:
%%sql
SELECT 1; 
-- comment

Parsed SQL:
SELECT 1;
-- comment

Running query in 'sqlite://'

++
||
++
++