In [ ]:
!pip uninstall snowflake-sqlalchemy -y

In [ ]:
!pip install snowflake-sqlalchemy==1.4.6

In [ ]:
!pip freeze

In [ ]:
import logging
import os

for logger_name in ['snowflake.sqlalchemy', 'snowflake.connector']:
  logger = logging.getLogger(logger_name)
  logger.setLevel(logging.DEBUG)
  ch = logging.StreamHandler()
  ch.setLevel(logging.DEBUG)
  ch.setFormatter(logging.Formatter('%(asctime)s - %(threadName)s %(filename)s:%(lineno)d - %(funcName)s() - %(levelname)s - %(message)s'))
  logger.addHandler(ch)

In [1]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from snowflake.sqlalchemy import URL

In [ ]:
from sqlalchemy import create_engine, text
from sqlalchemy.dialects import registry

registry.register('snowflake', 'snowflake.sqlalchemy', 'dialect')

In [2]:
engine = create_engine("snowflake://tony:%2khPjlg@lpb17716.us-east-1/JUPYSQL_INTEGRATION_TESTING/GENERAL?role=SYSADMIN&warehouse=COMPUTE_WH")

In [3]:
from sqlalchemy import create_engine

# engine = create_engine(
#     'snowflake://{user}:{password}@{account}/'.format(
#         user='<your_user_login_name>',
#         password='<your_password>',
#         account='<your_account_name>',
#     )
# )
engine = create_engine("snowflake://tony:%2khPjlg@lpb17716.us-east-1/JUPYSQL_INTEGRATION_TESTING/GENERAL?role=SYSADMIN&warehouse=COMPUTE_WH")
try:
    connection = engine.connect()
    results = connection.execute('select current_version()').fetchone()
    print(results[0])
finally:
    connection.close()
    engine.dispose()

/var/folders/gt/b0yxwz7s1yv8fqmz7rjy3q_w0000gn/T/ipykernel_90761/3784071826.py:13: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  results = connection.execute('select current_version()').fetchone()

7.11.4

In [ ]:
# !pip install jupysql

In [5]:
%load_ext sql

In [6]:
%sql engine

In [10]:
%sql show tables

*  snowflake://tony:***@lpb17716.us-east-1/JUPYSQL_INTEGRATION_TESTING/GENERAL?role=SYSADMIN&warehouse=COMPUTE_WH
9 rows affected.

[(datetime.datetime(2023, 4, 5, 10, 53, 9, 627000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'NUMBERS_7A1D51', 'JUPYSQL_INTEGRATION_TESTING', 'GENERAL', 'TABLE', '', '', 3, 1024, 'SYSADMIN', '1', 'OFF', 'OFF', 'N'),
 (datetime.datetime(2023, 4, 5, 11, 1, 13, 644000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'NUMBERS_F62B0D', 'JUPYSQL_INTEGRATION_TESTING', 'GENERAL', 'TABLE', '', '', 60, 1024, 'SYSADMIN', '1', 'OFF', 'OFF', 'N'),
 (datetime.datetime(2023, 4, 5, 10, 54, 19, 478000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'NUMBERS_FF2F0C', 'JUPYSQL_INTEGRATION_TESTING', 'GENERAL', 'TABLE', '', '', 60, 1024, 'SYSADMIN', '1', 'OFF', 'OFF', 'N'),
 (datetime.datetime(2023, 4, 5, 11, 1, 11, 963000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'PLOT_SOMETHING_02D39F', 'JUPYSQL_INTEGRATION_TESTING', 'GENERAL', 'TABLE', '', '', 5, 1024, 'SYSADMIN', '1', 'OFF', 'OFF', 'N'),
 (datetime.datetime(2023, 4, 5, 10, 54, 17, 925000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'PLOT_SOMETHING_34F50B', 'JUPYSQL_INTEGRATION_TESTING', 'GENERAL', 'TABLE', '', '', 5, 1024, 'SYSADMIN', '1', 'OFF', 'OFF', 'N'),
 (datetime.datetime(2023, 4, 5, 10, 53, 8, 203000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'PLOT_SOMETHING_49E8EC', 'JUPYSQL_INTEGRATION_TESTING', 'GENERAL', 'TABLE', '', '', 5, 1024, 'SYSADMIN', '1', 'OFF', 'OFF', 'N'),
 (datetime.datetime(2023, 4, 5, 10, 54, 16, 301000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'TAXI_0C5B80', 'JUPYSQL_INTEGRATION_TESTING', 'GENERAL', 'TABLE', '', '', 45, 1024, 'SYSADMIN', '1', 'OFF', 'OFF', 'N'),
 (datetime.datetime(2023, 4, 5, 11, 1, 9, 961000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'TAXI_A91A16', 'JUPYSQL_INTEGRATION_TESTING', 'GENERAL', 'TABLE', '', '', 45, 1024, 'SYSADMIN', '1', 'OFF', 'OFF', 'N'),
 (datetime.datetime(2023, 4, 5, 10, 53, 6, 432000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'TAXI_B6DD09', 'JUPYSQL_INTEGRATION_TESTING', 'GENERAL', 'TABLE', '', '', 45, 1024, 'SYSADMIN', '1', 'OFF', 'OFF', 'N')]

In [11]:
%sql use JUPYSQL_INTEGRATION_TESTING

*  snowflake://tony:***@lpb17716.us-east-1/JUPYSQL_INTEGRATION_TESTING/GENERAL?role=SYSADMIN&warehouse=COMPUTE_WH
1 rows affected.

[('Statement executed successfully.',)]

In [13]:
%sql select * from JUPYSQL_INTEGRATION_TESTING;

*  snowflake://tony:***@lpb17716.us-east-1/JUPYSQL_INTEGRATION_TESTING/GENERAL?role=SYSADMIN&warehouse=COMPUTE_WH
(snowflake.connector.errors.ProgrammingError) 002003 (42S02): SQL compilation error:
Object 'JUPYSQL_INTEGRATION_TESTING' does not exist or not authorized.
[SQL: select * from JUPYSQL_INTEGRATION_TESTING;]
(Background on this error at: https://sqlalche.me/e/14/f405)