# Microsoft SQL Server

notes 

- to get pyodbc working you need unixodbc: https://github.com/mkleehammer/pyodbc/issues/1124
- it's much easier to install pyodbc with conda because it'll also install unixodbc
- this says SQL server can run on M1: https://bornsql.ca/blog/you-can-run-a-sql-server-docker-container-on-apple-m1-and-m2-silicon/
- this was the previous workaround: https://medium.com/geekculture/docker-express-running-a-local-sql-server-on-your-m1-mac-8bbc22c49dc9
- but none of those worked for me, the server shuts down a few seconds after I start it
- docker image: https://hub.docker.com/_/microsoft-mssql-server

In [ ]:
# docker run --platform linux/amd64

In [ ]:
# %%bash
# docker rm sql

In [ ]:
%%bash
docker run -e "ACCEPT_EULA=1" -e "MSSQL_SA_PASSWORD=mysecretpassword" \
    -e "MSSQL_PID=Developer" -e "MSSQL_USER=sa" \
    -p 1433:1433 -d --name=sql mcr.microsoft.com/azure-sql-edge

In [ ]:
%%bash
docker run -e "ACCEPT_EULA=Y" \
    -e "MSSQL_SA_PASSWORD=mysecretpassword" \
    -p 1433:1433 \
    -d mcr.microsoft.com/mssql/server:2022-latest

In [ ]:
%%bash
docker ps

In [ ]:
%%bash
docker ps

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine("mssql+pyodbc://sa:mysecretpassword@localhost:1433")
engine.execute("SELECT * FROM sys.databases").close()

In [ ]:
conda install pyodbc -c conda-forge

In [ ]:
%pip uninstall pyodbc -y

In [ ]:
%pip install pyodbc --quiet

In [ ]:
%pip install pyodbc --quiet

In [ ]:
%load_ext sql

In [ ]:
%sql mssql+pyodbc://sa:mysecretpassword@localhost:1433

In [ ]:
%%sql
SELECT * FROM sys.databases;

In [ ]:
%%sql
CREATE TABLE languages (name, rating, change);
INSERT INTO languages VALUES ('Python', 14.44, 2.48);
INSERT INTO languages VALUES ('C', 13.13, 1.50);
INSERT INTO languages VALUES ('Java', 11.59, 0.40);
INSERT INTO languages VALUES ('C++', 10.00, 1.98);

In [ ]:
%%sql
SELECT * FROM languages