# Microsoft SQL Server

notes 

- to get pyodbc working you need unixodbc: https://github.com/mkleehammer/pyodbc/issues/1124
- it's much easier to install pyodbc with conda because it'll also install unixodbc
- this says SQL server can run on M1: https://bornsql.ca/blog/you-can-run-a-sql-server-docker-container-on-apple-m1-and-m2-silicon/
- this was the previous workaround: https://medium.com/geekculture/docker-express-running-a-local-sql-server-on-your-m1-mac-8bbc22c49dc9
- but none of those worked for me, the server shuts down a few seconds after I start it
- docker image: https://hub.docker.com/_/microsoft-mssql-server
- the docker image shuts down with weak passwords: https://github.com/Microsoft/mssql-docker/issues/330#issuecomment-402022373
- brew also install unixodbc so maybe we don't need to install it with conda? so looks like its actually breaking it

missing driver:

```

InterfaceError: (pyodbc.InterfaceError) ('IM002', '[IM002] [unixODBC][Driver Manager]Data source name not found and no default driver specified (0) (SQLDriverConnect)')
(Background on this error at: https://sqlalche.me/e/14/rvf5)
```

In [1]:
# to check drivers
import pyodbc
pyodbc.drivers()

# on mac: pip install pyodbc=4.0.34

['ODBC Driver 18 for SQL Server']

In [ ]:
# docker run --platform linux/amd64

In [ ]:
# %%bash
# docker rm sql

In [45]:
%%bash
docker run -e "ACCEPT_EULA=1" -e "MSSQL_SA_PASSWORD=MyPassword!" \
    -e "MSSQL_PID=Developer" -e "MSSQL_USER=sa" \
    -p 1433:1433 -d --name=sql mcr.microsoft.com/azure-sql-edge

693c23a635a16510e1cb5d9f11218a0ec4df12a186a532b49b849bdc1510161e

In [43]:
%%bash
docker run -e "ACCEPT_EULA=Y" \
    -e "MSSQL_SA_PASSWORD=MyPassword!" \
    -p 1433:1433 \
    -d mcr.microsoft.com/mssql/server:2022-latest

WARNING: The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested

209ac9f33ca3e6cde1a57b1e4995fff874e8cce3c6d6bdbcba11ae4d951e27d9

In [1]:
%%bash
docker ps

CONTAINER ID   IMAGE                              COMMAND                  CREATED          STATUS          PORTS                              NAMES
693c23a635a1   mcr.microsoft.com/azure-sql-edge   "/opt/mssql/bin/permâ€¦"   31 minutes ago   Up 31 minutes   1401/tcp, 0.0.0.0:1433->1433/tcp   sql

In [11]:
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

connection_url = URL.create(
    "mssql+pyodbc",
    username="sa",
    password="MyPassword!",
    host="localhost",
    port=1433,
    database="master",
    query={
        "driver": "ODBC Driver 18 for SQL Server",
        "Encrypt": "yes",
        "TrustServerCertificate": "yes",
    },
)
engine = create_engine(connection_url)
connection_url

mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server

In [ ]:
conda install pyodbc -c conda-forge

In [ ]:
%pip uninstall pyodbc -y

In [ ]:
%pip install pyodbc --quiet

In [ ]:
%pip install pyodbc --quiet

In [13]:
%load_ext sql

In [14]:
%sql engine

In [15]:
%%sql
SELECT * FROM sys.databases;

*  mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('master', 1, None, b'\x01', datetime.datetime(2003, 4, 8, 9, 13, 36, 390000), 150, 'SQL_Latin1_General_CP1_CI_AS', 0, 'MULTI_USER', False, False, False, 0, 'ONLINE', False, False, False, 1, 'ON', False, 3, 'SIMPLE', 2, 'CHECKSUM', True, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, '00000000-0000-0000-0000-000000000000', False, 4, 'ACTIVE_TRANSACTION', False, False, False, False, None, None, None, None, None, None, None, None, None, None, 0, 'NONE', 0, 0, 'DISABLED', False, False, False, True, True, 0, 'DATABASE_DEFAULT', 'master', False, False, False, False, True, True),
 ('tempdb', 2, None, b'\x01', datetime.datetime(2023, 3, 3, 17, 29, 31, 67000), 150, 'SQL_Latin1_General_CP1_CI_AS', 0, 'MULTI_USER', False, False, False, 0, 'ONLINE', False, False, False, 0, 'OFF', False, 3, 'SIMPLE', 2, 'CHECKSUM', True, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, '0E7FA998-68E7-4C88-8637-96D75972D644', True, 0, 'NOTHING', False, False, False, False, None, None, None, None, None, None, None, None, None, None, 0, 'NONE', 60, 0, 'DISABLED', False, False, False, False, True, 0, 'DATABASE_DEFAULT', 'tempdb', False, False, False, False, True, True),
 ('model', 3, None, b'\x01', datetime.datetime(2003, 4, 8, 9, 13, 36, 390000), 150, 'SQL_Latin1_General_CP1_CI_AS', 0, 'MULTI_USER', False, False, False, 0, 'ONLINE', False, False, False, 0, 'OFF', False, 3, 'SIMPLE', 2, 'CHECKSUM', True, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, '00000000-0000-0000-0000-000000000000', False, 0, 'NOTHING', False, False, False, False, None, None, None, None, None, None, None, None, None, None, 0, 'NONE', 60, 0, 'DISABLED', False, False, False, True, True, 0, 'DATABASE_DEFAULT', 'model', False, False, False, False, True, True),
 ('msdb', 4, None, b'\x01', datetime.datetime(2023, 1, 25, 11, 15, 47, 897000), 150, 'SQL_Latin1_General_CP1_CI_AS', 0, 'MULTI_USER', False, False, False, 0, 'ONLINE', False, False, False, 1, 'ON', False, 3, 'SIMPLE', 2, 'CHECKSUM', True, False, True, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, False, False, False, False, False, False, False, False, 'DFDA93AA-A255-4F97-AFEB-F0FC5176D611', True, 0, 'NOTHING', False, False, False, False, None, None, None, None, None, None, None, None, None, None, 0, 'NONE', 60, 0, 'DISABLED', False, False, False, True, True, 0, 'DATABASE_DEFAULT', 'msdb', False, False, False, False, True, True)]

In [17]:
%%sql
CREATE TABLE languages (name VARCHAR(255), rating FLOAT, change FLOAT);
INSERT INTO languages VALUES ('Python', 14.44, 2.48);
INSERT INTO languages VALUES ('C', 13.13, 1.50);
INSERT INTO languages VALUES ('Java', 11.59, 0.40);
INSERT INTO languages VALUES ('C++', 10.00, 1.98);

*  mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [18]:
%%sql
SELECT * FROM languages

*  mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('Python', 14.44, 2.48),
 ('C', 13.13, 1.5),
 ('Java', 11.59, 0.4),
 ('C++', 10.0, 1.98)]

In [22]:
# %sqlplot boxplot --table languages --column rating