# SQL formatting

To enable SQL formatting, install `jupysql`:

```sh
pip install jupysql --upgrade
```

Then, a "Format SQL" button will appear in JupyterLab:

![format](../static/format-sql.gif)


Click on "Format SQL" and you'll see that the SQL cell below is formatted!

In [1]:
from pathlib import Path
from urllib.request import urlretrieve

if not Path("penguins.csv").is_file():
    urlretrieve(
        "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv",
        "penguins.csv",
    )

In [2]:
%load_ext sql
%sql duckdb://

Tip: You may define configurations in /Users/neelashasen/Dev/jupysql_master/jupysql/pyproject.toml or /Users/neelashasen/.jupysql/config.

Loading configurations from /Users/neelashasen/.jupysql/config.

Settings changed:

+------------+-------+
|   Config   | value |
+------------+-------+
|  feedback  |  True |
| autopandas |  True |
+------------+-------+

Connecting to 'default'

Connecting and switching to connection 'duckdb://'

In [3]:
%%sql
select * from penguins.csv where island = 'Torgersen' limit 3

Running query in 'duckdb://'

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,MALE
1,Adelie,Torgersen,39.5,17.4,186,3800,FEMALE
2,Adelie,Torgersen,40.3,18.0,195,3250,FEMALE